/* General Styling */

html {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}
body {
	background-color: #FFFFFF;
	color: #000000;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	font-size: 100%;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000000;
}

::selection {
    background-color: #5D90FF;
    color: #FFFFFF;
}

.button-control {
    cursor: pointer;
    color: #AAC4FF;
    background: #5D90FF;
    outline: none;
    border: 0px;
    border-radius: 50px;
}

/* Typograhphy */

h1,h2,h3 {
    font-weight: 300;
    line-height: normal;
}

h1 {
    font-size: 3em;
    font-weight: bold;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

p {
    color: #000000;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
}

/* Main header */
.main-header {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 80px;
    background: rgba(0, 0, 0, 0);
}

.main-header .container {
    display: flex;
    flex-direction: row;
    display: -ms-flexbox;
    -ms-flex-direction: row;
}

    /** Logo **/

    .logo {
        width: 40%;
        height: 100%;
        font-family: 'Fjalla One', sans-serif;
    }

    .logo a {
        color: #5D90FF;
    }

    /** Navigation Bar **/

    .navigation-bar {
        width: 60%;
        height: 100%;
    }

    .list-container {
        margin: 30px 0px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        display: -ms-flexbox;
        -ms-flex-direction: row;
        -ms-flex-pack: end;
    }

    .list-container li {
        margin-left: 30px;
        padding-left: 30px;
        text-transform: uppercase;
        font-size: .9em;
    }

    .list-container li a {
        color: #5D90FF;
    }

    .list-container li a:hover {
        color: #FFFFFF;
    }

/* Home Section */
.home-section {
    width: 100%;
    height: 100vh;
    background: url(../images/pexels-photo-1229861.jpeg) no-repeat center center/cover;
    z-index: -10;
    padding: 90px 0px 0px 0px;
}

.home-section-overlay {
    background-color: rgba(47, 72, 127, 40%);
    height: 100vh;
    width: 100%;
    z-index: 0;
    position: absolute;
    top: 0;
    padding: 45px 0px;
}

.home-section .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: -ms-flexbox;
    -ms-flex-pack: center;
    -ms-flex-direction: column;
    -ms-flex-align: center;
}

.home-section .container h2 {
    margin: 0px;
    color: #FFFFFF;
}

.home-section .container h1 {
    color: #FFFFFF;
    font-size: 4rem;
}

.form-wrapper {
    position: relative;
    top: 5%;
    left: 10%;
    transform: translate(-50%,-50%);
}

.online-form {
    position: relative;
    padding: 20px 50px;
}

.input-control {
    width: 100%;
    background: #fff;
    padding: 15px 30px;
    border-radius: 50px;
    outline: none;
    font-size: 18px;
}

.message-redirect {
    position: absolute;
    top: 20px;
    right: -80px;
    width: 40%;
    height: 55px;
}

/* Features Section */

.features-section {
    width: 100%;
    height: 100vh;
    padding: 100px 0px 0px 0px;
}

.features-tab-photo-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 50px;
    display: -ms-flexbox;
    -ms-flex-direction: row;
}

    /** Features Tabs using pure css / no js **/

    .features-tabs {
        padding-right: 100px;
        width: 100%;
    }

    .state {
        display: none;
    }

    .flex-tabs {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        display: -ms-flexbox;
        -ms-flex-pack: justify;
        -ms-flex-wrap: wrap;
    }

        /*** Tab Panes ***/

        .tab:hover {
            background-color: #eee;
        }

        .tab {
            flex-grow: 1;
            max-height: 40px;
            display: inline-block;
            padding: 10px;
            vertical-align: top;
            cursor: hand;
            cursor: pointer;
            border-left: 10px solid #ccc;
            -ms-flex-positive: 1;
        }

        #tab-one:checked ~ .tabs #tab-one-label,
        #tab-two:checked ~ .tabs #tab-two-label,
        #tab-three:checked ~ .tabs #tab-three-label,
        #tab-four:checked ~ .tabs #tab-four-label {
        background-color: #fff;
        cursor: default;
        border-left-color: #5D90FF;
        }

        /*** Contents of the Tab ***/
        
        .panel {
            background-color: #fff;
            padding: 20px;
            min-height: 300px;
            display: none;
            width: 100%;
            flex-basis: auto;
            -ms-flex-preferred-size: auto;
        }

        #tab-one:checked ~ .tabs #tab-one-panel,
        #tab-two:checked ~ .tabs #tab-two-panel,
        #tab-three:checked ~ .tabs #tab-three-panel,
        #tab-four:checked ~ .tabs #tab-four-panel {
        display: block;
        }

    /** Features Photo **/

    .features-photo img {
        width: 100%;
    }

    /* IE10 + CSS Hack for the Features and Photo container */
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        .features-tabs {
            padding-right: 100px;
            width: 50%;
        }

        .features-photo-container {
            width: 40%;
        }
        
    }

/* Designs Section */

.designs-section {
    width: 100%;
    height: 100vh;
    padding: 50px 0px;
    background: #E3DFFC;
}

.box-container {
    width: 100%;
    padding: 30px 0px;
    display: flex;
    flex-direction: row;
    display: -ms-flexbox;
    -ms-flex-direction: row;
}

.designs-section .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    display: -ms-flexbox;
    -ms-flex-pack: center;
    -ms-flex-direction: column;
    -ms-flex-align: center;
}

    /** Designs Content **/

    .designs-container {
        position: relative;
        padding: 20px;
    }

    .designs-container>img {
        width: 100%;
    }

    .designs-container .design-content-overlay {
        background: #2F547F;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        opacity: 0;
        transition: 0.2s opacity;
        transition-delay: 0.2s;
    }

    .designs-container:hover .design-content-overlay {
        transition-delay: 0s;
        opacity: 0.8;
    }

    .designs-container .designs-content {
        position: absolute;
        left: 50px;
        right: 50px;
        top: 25%;
        text-align: center;
        -ms-transform: translateX(-25%);
        transform: translateX(-25%);
    }

    .designs-container .designs-content h3 {
        -ms-transform: translateX(-10%);
        transform: translateX(-10%);
        opacity: 0;
        color: #FFF;
        margin-bottom: 10px;
        transition: 0.2s all;
        transition-delay: 0.1s;
    }

    .designs-container:hover .designs-content h3 {
        -ms-transform: translateX(25%);
        transform: translateX(25%);
        opacity: 1;
        -webkit-transition-delay: 0.1s;
        transition-delay: 0.1s;
    }

    .designs-container .designs-content span {
        display: block;
        text-transform: uppercase;
        -ms-transform: translateX(-10%);
        transform: translateX(-10%);
        opacity: 0;
        color: #6195FF;
        margin-bottom: 5px;
        transition: 0.2s all;
        transition-delay: 0.2s;
    }

    .designs-container:hover .designs-content span {
        -ms-transform: translateX(25%);
        transform: translateX(25%);
        opacity: 1;
        transition-delay: 0s;
    }

    .designs-container .design-links {
        text-align: center;
        margin-top: 30px;
    }

    .designs-container .design-links a {
        display: inline-block;
        width: 50px;
        height: 50px;
        background-color: #6195FF;
        color: #FFF;
        line-height: 50px;
        text-align: center;
        opacity: 0;
        -ms-transform: translateX(50%);
        transform: translateX(50%);
        transition: 0.2s all;
        transition-delay: 0.1s;
    }

    .designs-container:hover .design-links a {
        -ms-transform: translateX(135%);
        transform: translateX(135%);
        opacity: 1;
        transition-delay: 0s;
    }

    .design-links a {
        color: #6195FF;
        transition: 0.2s opacity;
    }

    .design-links a:hover {
        color: #5F6E7F;
    }

    /* IE10 + CSS Hack for the Designs container */
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        .designs-container {
            width: 25%;
        }

        .box-container {
            margin-left: 150px;
        }
    }

    .responsive-image {
        display:block;
        max-width:100%;
        height:auto;
    }

/* Services Section */

.services-section {
    width: 100%;
    height: 100vh;
    padding: 50px 0px 100px 0px;
    background: #FFF;
    margin: 50px 0px 100px 0px;
}

    /** Services Title **/

    /** Services Cards **/

    .services-cards-container {
        width: 100%;
        display: inline-block;
    }

        /*** Individual Cards ***/

        .services-card {
            float: left;
            width: 20%;
            height: 30%;
            border: #5D90FF 1px solid;
            margin: 20px;
            padding: 50px 20px;
            box-shadow: 0 2px 3px 0px rgba(15, 14, 110, 0.25);
            border-radius: 3px;
            transition: .2s all; 
        }

        .services-cards-container:hover .services-card {
            filter: blur(1px);
            opacity: .5;
            transform: scale(.98);
            -ms-transform: scale(.98);
            box-shadow: none;
        }

        .services-cards-container:hover .services-card:hover {
            transform: scale(1);
            -ms-transform: scale(1);
            filter: blur(0px);
            opacity: 1;
            box-shadow: 0 8px 20px 0px rgba(0,0,0,0.125);
        }

        .services-card .cards img {
            color: #000000;
            transition: 0.2s all;
        }

        .services-card:hover .cards {
            color: #5D90FF;
        }


    /* Support for browsers with grid */

    @supports (display: grid) {
        .services-cards-container {
            display: grid;
            grid-template-columns: repeat(3, 30%);
            grid-gap: 40px;
            justify-content: center;
            padding: 40px 0px;
        }

        .services-card {
            width: auto;
            height: auto;
            margin: 0px;
            border: #5D90FF 1px solid;
            padding: 20px 10px;
        }

        .cards {
            margin: 30px 20px;
        }
    }

 /* IE10 + CSS Hack for Services container */
 @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .services-cards-container {
        margin-left: 100px;
    }
}

/* Contact and Footer Section */

.contact-footer {
    position: absolute;
    width: 100%;
    height: auto;
    padding-top: 0px;
    background: url(../images/20111001-_DSC3291-2.jpg) no-repeat center center/cover;
    z-index: -10;
    opacity: 1;
}

.contact-section-overlay {
    position: relative;
    top: 0;
    background-color: rgb(47, 72, 127, 80%);
    height: auto;
    width: 100%;
    z-index: 1;
    padding: 0px;
}

.contact-footer .container {
    display: flex;
    flex-direction: column;
    display: -ms-flexbox;
    -ms-flex-direction: column;
}

 /* IE10 + CSS Hack for the Features and Photo container */
 @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .contact-footer {
        opacity: .6;
    }
}

    /** Contact Section **/

    .contact-section {
        width: 100%;
        height: 100%;
        padding: 50px 0; 
        margin-top: 20px;
    }

    .contact-section h2 {
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 50px;
    }

        /*** Form area ***/

        .contact-form {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: center;
            display: -ms-flexbox;
            -ms-flex-direction: row;
            -ms-flex-pack: center
        }

        .input-container {
            width: 50%;
            display: flex;
            flex-direction: column;
            display: -ms-flexbox;
            -ms-flex-direction: column;
        }

        .input-container input[type=text], .input-container input[type=email] {
            background-color: #ffffff;
            border: none;
            border-radius: 3px;
            color: #949393;
            padding: 10px;
            margin-right: 20px;
            margin-bottom: 35px;
            width: 80%;
            align-self: center;
            -ms-flex-item-align: center;
        }

        .textarea-containter {
            width: 50%;
            display: flex;
            flex-direction: column;
            display: -ms-flexbox;
            -ms-flex-direction: column;
        }

        .textarea-box {
            padding: 10px;
            margin-bottom: 20px;
            border-radius: 3px;
            color: #949393;
        }

        .message-submit {
            display: flex;
            flex-direction: row;
            line-height: 1.5rem;
            width: 50%;
            height: 20%;
            align-self: center;
            -ms-flex-item-align: center;
            -webkit-align-self: center;
            color: #fff;
            text-transform: uppercase;
            padding: 10px;
            justify-content: center;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            align-items: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
        }

        .message-submit img {
            color: #FFFFFF;
        }

    /** Footer Section **/

    .footer-section {
        display: block;
        width: 100%;
        height: 100%;
        margin: 30px 0px;
        border-top: rgba(216, 209, 255, 0.548) 1px solid;
    }

    .footer-section .container {
        height: 50%;
        display: flex;
        flex-direction: row;
        display: -ms-flexbox;
        -ms-flex-direction: row;
    }

        /*** About me ***/

        .aboutme {
            width: 50%;
        }

        .aboutme p {
            color: #5D90FF;
        }

        .aboutme p:first-child {
            font-size: 1em;
            font-weight: bolder;
            color: #5D90FF;
        }

        /*** Follow me ***/

        .followme {
            width: 50%; 
            height: 50%;
        }

        .followme p {
            font-size: 1em;
            font-weight: 2;
            color: #5D90FF;
        }

        .followme-icons {
            display: flex;
            flex-direction: row;
            display: -ms-flexbox;
            -ms-flex-direction: row;
        }

        .followme-icons img {
            max-width: 30px;
            max-height: 30px;
            margin: 10px;
        }

/* Copyright */

.copyright {
    text-align: center;
}

.copyright p {
    color: #5D90FF;
}

/* Media Queries */

@media (max-width: 768px) {
    .features-tabs {
        margin: 20px;
        width: 100%;
    }
}

@media (min-width: 768px) {
    .container {
      width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
      width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
}

