/* General Styling */

html {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}
body {
	background-color: #FFFFFF;
	color: #000000;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	font-size: 100%;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000000;
}

::-moz-selection {
    background-color: #5D90FF;
    color: #FFFFFF;
}

::selection {
    background-color: #5D90FF;
    color: #FFFFFF;
}

/* Typograhphy */

h1,h2,h3 {
    font-weight: 300;
    line-height: normal;
}

h1 {
    font-size: 3em;
    font-weight: bold;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

p {
    color: #000000;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
}

/* Main header */
.main-header {
    position: fixed;
    z-index: 1;
    top: 0;
    display: inline-block;
    width: 100%;
    height: 80px;
    background: rgba(0, 0, 0, 0);
}

    /** Logo **/

    .logo {
        float: left;
        max-width: 40%;
        height: 100%;
        font-family: 'Fjalla One', sans-serif;
    }

    .logo a {
        color: #4B73CC;
    }

    /** Navigation Bar **/

    .navigation-bar {
        float: right;
        max-width: 60%;
        height: 100%;
    }

    .list-container {
        margin: 30px 0px;
    }

    .list-container li {
        display: inline;
        margin-left: 30px;
        padding-left: 30px;
        text-transform: uppercase;
        font-size: .9em;
    }

    .list-container li a {
        color: #4B73CC;
    }

    .list-container li a:hover {
        color: #FFFFFF;
    }

/* Home Section */
.home-section {
    width: 100%;
    height: 100vh;
    background: url(../images/pexels-photo-1229861.jpeg) no-repeat center center/cover;
    z-index: -10;
    padding: 90px 0px 0px 0px;
}

.home-section-overlay {
    background-color: rgba(47, 72, 127, 40%);
    height: 100vh;
    width: 100%;
    z-index: 0;
    position: absolute;
    top: 0;
    padding: 45px 0px;
}

.home-section .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;

    /* Support for IE 10 */
    display: -ms-flexbox;
    -ms-flex-pack: center;
    -ms-flex-direction: column;
    -ms-flex-align: center;
}

.home-section .container h2 {
    margin: 0px;
    color: #FFFFFF;
}

.home-section .container h1 {
    color: #FFFFFF;
    font-size: 4rem;
}

.form-wrapper {
    position: relative;
    top: 5%;
    left: 10%;
    transform: translate(-50%,-50%);
}

.online-form {
    position: relative;
    padding: 20px 50px;
}

.input-control {
    width: 100%;
    background: #fff;
    padding: 15px 30px;
    border-radius: 50px;
    outline: none;
    font-size: 18px;
}

.button-control {
    position: absolute;
    top: 20px;
    right: -80px;
    cursor: pointer;
    color: #AAC4FF;
    background: #5D90FF;
    border: 0px;
    width: 40%;
    height: 55px;
    border-radius: 50px;
    outline: none;
}


/* Features Section */

    /** Feature Title **/

    /** Features Tabs **/

        /*** Tab Panes ***/

        /*** Contents of the Tab ***/

    /** Features Photo **/

/* Designs Section */

    /** Designs Title **/

    /** Designs Content **/

/* Services Section */

    /** Services Title **/

    /** Services Cards **/

        /*** Individual Cards ***/

/* Contact and Footer Section */

    /** Contact Section **/

        /*** Form area ***/

    /** Footer Section **/

        /*** About me ***/

        /*** Follow me ***/

/* Media Queries */

@media (min-width: 768px) {
    .container {
      width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
      width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
}